force-app/main/default/flows/Assign_city_according_to_zip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_matched_city</name>
        <label>Assign matched city</label>
        <locationX>829</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.City__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_unmatched_city</name>
        <label>Assign unmatched city</label>
        <locationX>1110</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Undefined</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Zip</name>
        <label>Check Zip</label>
        <locationX>817</locationX>
        <locationY>238</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zip_code_matches</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop.Zip__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_matched_city</targetReference>
            </connector>
            <label>Zip code matches</label>
        </rules>
        <rules>
            <name>Zip_code_doesn_t_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop.Zip__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_unmatched_city</targetReference>
            </connector>
            <label>Zip code doesn&apos;t match</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Assign city according to zip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign city according to zip</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>645</locationX>
        <locationY>146</locationY>
        <collectionReference>Get_zip_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Zip</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_zip_record</name>
        <label>Get zip record</label>
        <locationX>420</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Zip_Code_1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>49</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Get_zip_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingPostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
