force-app/main/default/flows/New_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>Average</name>
        <choiceText>Average</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>BelowAverage</name>
        <choiceText>Below Average</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Excellent</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Poor</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>VeryGood</name>
        <choiceText>Very Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>New Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createReview</name>
        <label>createReview</label>
        <locationX>542</locationX>
        <locationY>274</locationY>
        <connector>
            <targetReference>Display_Faults</targetReference>
        </connector>
        <inputAssignments>
            <field>Core_Competencies_Comments__c</field>
            <value>
                <elementReference>Core_Competencies_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Competencies__c</field>
            <value>
                <stringValue>Core_Competencies</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experience_Comments__c</field>
            <value>
                <stringValue>Experience_Comments</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experience__c</field>
            <value>
                <stringValue>Experience</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Application__c</field>
            <value>
                <elementReference>varJobAppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leadership_Skills_Comments__c</field>
            <value>
                <stringValue> Leadership_Skills_Comments</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leadership_Skills__c</field>
            <value>
                <stringValue>Leadership_Skills</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Recommended__c</field>
            <value>
                <stringValue> Reason_Recommended</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommend_for_Hire__c</field>
            <value>
                <elementReference>Recommend_for_Hire</elementReference>
            </value>
        </inputAssignments>
        <object>Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Display_Faults</name>
        <label>Display Faults</label>
        <locationX>805</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Fault_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Review</name>
        <label>New Review</label>
        <locationX>542</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createReview</targetReference>
        </connector>
        <fields>
            <name>Experience</name>
            <choiceReferences>Excellent</choiceReferences>
            <choiceReferences>VeryGood</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>BelowAverage</choiceReferences>
            <choiceReferences>Poor</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Experience</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Experience_Comments</name>
            <dataType>String</dataType>
            <fieldText>Experience Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Leadership_Skills</name>
            <choiceReferences>Excellent</choiceReferences>
            <choiceReferences>VeryGood</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>BelowAverage</choiceReferences>
            <choiceReferences>Poor</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Leadership Skills</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Leadership_Skills_Comments</name>
            <dataType>String</dataType>
            <fieldText>Leadership Skills Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Core_Competencies</name>
            <choiceReferences>Excellent</choiceReferences>
            <choiceReferences>VeryGood</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>BelowAverage</choiceReferences>
            <choiceReferences>Poor</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Core Competencies</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Core_Competencies_Comments</name>
            <dataType>String</dataType>
            <fieldText>Core Competencies Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Recommend_for_Hire</name>
            <dataType>Boolean</dataType>
            <fieldText>Recommend for Hire</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_Recommended</name>
            <dataType>String</dataType>
            <fieldText>Reason Recommended</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Created</name>
        <label>Record Created</label>
        <locationX>320</locationX>
        <locationY>452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createReview</targetReference>
        </connector>
        <fields>
            <name>RecordCreated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(247, 247, 249); font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace; color: rgb(221, 17, 68);&quot;&gt;Your review record has been created successfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>16</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>New_Review</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varJobAppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
