force-app/main/default/flows/Opportunity_amount_greater_than_10000.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Enter_Description</name>
        <label>Enter Description</label>
        <locationX>816</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revenue is changed, amount is greater than 10000</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Opportunity_amount_greater_than_10000</name>
        <label>Check Opportunity amount greater than 10000</label>
        <locationX>541</locationX>
        <locationY>168</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>PreviousAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Description</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PreviousAmount</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Amount} + 10000</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity amount greater than 10000 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity amount greater than 10000</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>89</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Opportunity_amount_greater_than_10000</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
